body {

    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    /* background-color: #ddd; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden;
     overflow-y: hidden; */
    /* overflow: hidden; */
}

.header {
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
    position: static;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 6%;

}

.header ul {
    display: flex;
    justify-content: space-around;
}

.header ul li {
    margin-right: 20px;
    list-style: none;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li:hover {
    text-decoration: 2px palevioletred underline;
}
.header h1 {
    font-family: 'Italianno', cursive;
}

.icons i {
    color: palevioletred;
    font-weight: bold;
}

.logo1 {
    text-transform: lowercase;
    text-shadow: 2px 2px rgb(187, 78, 115);
    /* text-shadow: 1px 1px brown; */
    color: rgba(0, 0, 0, 0.847);
    font-weight: bolder;
}

.logo2 {
    text-transform: uppercase;
    color: rgb(239, 158, 171);
    text-shadow: 2px 2px black;
    font-weight: bolder;
}

.home {
    background-color: palevioletred;
    box-shadow: 2px 2px 5px grey;
    padding: 8px 18px;
    color: whitesmoke;
    border-radius: 7px;
    text-transform: uppercase;
    font-weight: bold;
}

.home:hover {
    background-color: pink;
    color: black;
    text-decoration: none !important;
}




/* banner section */
.main-container {
    max-width: 1100px;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    text-align: center;
    background-color: rgb(242, 207, 213);
    /* background-color: white; */
    border-radius: 22% 0px 22% 0px;
    /* border-radius: 10px; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    /* overflow: hidden; */

}

.first-banner-des {
    width: 40%;
    margin: 0;
    padding: 10px;

}

.banner-name {
    font-size: 35px;
    /* color: rgb(189, 51, 120); */
    color: palevioletred;
    text-shadow: 2px 2px black;
    padding: 10px;
    margin: 0;
    /* text-shadow: 2px 2px gray; */
    /* border-bottom: 2px solid palevioletred; */
    /* margin-bottom: -40px; */

}

.banner-des {
    text-align: center;
    padding: 10px;
    margin-top: -10px;

}

.banner-img {
    width: 60%;
}

.banner-img img {
    width: 100%;

}

.offer {
    text-transform: uppercase;
    margin-top: -20px;
}

.sale {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Skranji', cursive;
    color: brown;
    /* margin: 0; */
    padding: 0;
}

.shop-btn,
.read-btn {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(208, 87, 127);
    font-size: 18px;
    color: white;
    box-shadow: 2px 2px 2px gray;
    margin-top: -20px;
    font-weight: bold;
    cursor: pointer;
}

.shop-btn:hover {
    background-color: transparent;
    /* outline: auto; */
    border: 2px solid white;
    color: palevioletred;
}

.read-btn {
    background-color: transparent;
    /* outline: auto; */
    border: 2px solid palevioletred;
    color: palevioletred;
}

.read-btn:hover {
    background-color: rgb(208, 87, 127);
    border: 2px solid white;
    color: white;
    border: 0;
}


/* cards */

.product-heading {
    margin-top: 10%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: palevioletred;
    /* text-shadow: 2px 2px palevioletred; */
    color: palevioletred;

    text-shadow: 2px 2px black;

}

.horizontalLine {
    width: 150px;
    height: 3px;
    background-color: palevioletred;
}


.cardWrap {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    align-items: center;
    max-width: 1100px;
    margin: 5% auto;

}

.card {
    width: 300px;
    height: 320px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #ffff;
    padding: 20px 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 8px;
    border: 3px solid rgb(209, 148, 168);
}

.card:hover {
    transform: translateY(20px);
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    /* background: linear-gradient(to bottom, #9995951e, #F5C0CB); */
    /* background: linear-gradient(to bottom, #9995951e, #e8a1af); */
    background: linear-gradient(to bottom, #9995954e, #e8a1af);
    /* background: linear-gradient(to bottom, #548aa1b3, #e8a1af); */
    z-index: 2;
    opacity: 0;
    transition: 0.5s all;
}

.card:hover:before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 8px;

}

.card .card-content {
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    text-align: center;


}

.card:hover .card-content {
    opacity: 1;
    transform: translateY(0);
}

.card-content h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -20px;
    text-shadow: 2px 2px palevioletred;

}

.card-content p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -20px;
    color: rgb(202, 37, 92);
    text-shadow: 2px 2px white;
}

.card-content h5 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px whitesmoke;
    /* margin-bottom: 30px; */
}

.card-btn {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(208, 87, 127);
    font-size: 18px;
    color: white;
    box-shadow: 0px 5px 5px gray;
    /* margin-top: -20px; */
    font-weight: bold;
    text-shadow: 2px 2px black;
    cursor: pointer;
}

.card-btn:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}


/* FQA-Section */
.FQA-container {
    max-width: 700px;
    margin: 15% auto;

}

.FQA-container .heading {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: palevioletred;

    text-shadow: 2px 2px black;

}

.FQA-container .horizontal-line {
    width: 300px;
    height: 3px;
    background-color: palevioletred;
}


.FQA-container .accordion-container {
    margin-bottom: 8%;
    padding: 0 20px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);



}

.FQA-container .accordion-container .accordion {
    margin-bottom: -20px;
    cursor: pointer;
    /* margin-top: 30px; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;

}

.FQA-container .accordion .accordion-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 20px;
    border: 1px solid palevioletred;
    border-radius: 7px;
    /* font-size: 16px; */
    color: palevioletred;
    text-transform: uppercase;
    /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); */
}

.FQA-container .accordion.active .accordion-heading {
    background-color: palevioletred;
    margin-top: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.FQA-container .accordion.active .accordion-heading h3 {
    color: white;
}

.FQA-container .accordion .accordion-heading i {
    font-size: 25px;
}

.FQA-container .accordion.active .accordion-heading i {
    transform: rotate(180deg);
    transition: transform .2s .1s;
    color: #fff;
}

.FQA-container .accordion .answer {
    padding: 15px 20px;
    /* border:1px solid black; */
    border-radius: 7px;
    background-color: white;
    display: none;
    animation: animate .2s linear backwards;
    line-height: 2;
    transform-origin: top;
    margin-top: -8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

.FQA-container .accordion.active .answer {
    display: block;

}

@keyframes animate {
    0% {
        transform: scaleY(0);
    }
}


/* footer */
.footer-container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    height: 280px;
    /* background-color: #ddd; */
    padding: 20px;
    /* box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); */
    color: white;
    background-color: black;
}

.footer-links h3 {
    text-transform: uppercase;
    border-bottom: 2px solid palevioletred;
    font-size: 22px;
    letter-spacing: 1px;
}

.footer-links .links {
    list-style: none;
    text-align: center;
    /* color: #e4e2e2; */
    text-decoration: none;
    /* color: palevioletred; */
    font-size: 17px;

}

.footer-links .links i {
    text-decoration: none;
    color: palevioletred;

}

.footer-address h3 {
    text-transform: uppercase;
    border-bottom: 2px solid palevioletred;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}

.footer-address .input {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #F5C0CB; */
}

.footer-address .input .input-field {
    width: 480px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.footer-address .input .send {
    width: 100px;
    height: 40px;
    margin-left: 15px;
    /* padding: 15px 15px; */
    background-color: palevioletred;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: bold;

}

.footer-address .input .send:hover {

    background-color: pink;
    color: black;


}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.footer-address .subscribe-btn {
    padding: 12px 20px;
    background-color: transparent;
    color: white;
    font-size: 17px;
    border: 2px solid palevioletred;
    cursor: pointer;

    border-radius: 20px;

}

.footer-address .subscribe-btn:hover {
    background-color: palevioletred;
    color: black;

}

.footer-social-link h3 {
    text-transform: uppercase;
    border-bottom: 2px solid palevioletred;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}

.footer-social-link .address {
    word-wrap: break-word;
    font-size: 17px;
    text-align: center;
}

.footer-social-link .social-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

}

.footer-social-link .social-links i {

    font-size: 20px;
    color: palevioletred;

    cursor: pointer;
}

.footer-social-link .social-links i:hover {

    /* border-bottom: 2px solid pink; */
    color: pink;
}


/* responsive for mobile */

@media screen and (max-width:521px) {
    .header {
        /* max-width: 100%;
        margin: 0 auto; */
        width: 100%;
        height: 100%;

    }

    .header-div {
        display: flex;
        flex-direction: column;
        /* margin:0; */

    }


    .header ul {
        display: flex;
        flex-direction: column;
        /* display: none; */
    }

    .header ul li {

        flex-direction: column;
    }

    .header h1 {
        font-size: 28px;
    }

    .main-container {
        width: 100%;
    }

    .icons i {
        display: none;
    }

    .banner {

        display: flex;
        flex-direction: column;
        /* border-radius: 10px; */
        width: 95%;
        margin: 5% auto;



    }

    .first-banner-des {
        width: 100%;


    }

    .banner-name {
        font-size: 26px;


    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;

    }

    .shop-btn,
    .read-btn {
        padding: 8px 10px;
        font-size: 15px;
    }

    .banner-des {
        text-align: center;
        padding: 10px;
        margin-top: -10px;
        font-size: 15px;

    }

    .offer {
        font-size: 16px;
    }

    .sale {
        text-transform: uppercase;
        font-size: 35px;
        font-family: 'Skranji', cursive;
        color: brown;
        /* margin: 0; */
        padding: 0;

    }

    .product-heading {

        font-size: 22px;

    }

    .cardWrap {


        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
        width: 100%;
        margin: 0 auto;

    }

    .card {
        width: 80%;
        height: 80%;
        margin: 0 auto;

    }

    .card img {
        width: 100%;
        height: 100%;
    }

    .card-content h3 {
        font-size: 22px;
    }

    .card-content p {
        font-size: 18px;

    }

    .card-btn {
        padding: 10px 15px;
        font-size: 16px;

    }

    .FQA-container {

        max-width: 700px;
        margin: 50% auto;
        padding: 2%;

    }

    .FQA-container .heading {
        font-size: 22px;
    }

    .FQA-container .accordion .accordion-heading,
    .FQA-container .accordion .answer {
        font-size: 15px;
    }

    .footer-container {
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        padding: 20px;
        margin-top: -10%;

    }

    .footer-address .input {
        width: 100%;
        height: 100%;

    }

    .footer-address .input .input-field {
        width: 100%;
        height: 100%;
        padding: 10px 10px;
        font-size: 15px;
    }

    .footer-address .input .send {
        width: 40%;
        height: 100%;
        padding: 8px 10px;
    }

    .footer-address .subscribe-btn {
        padding: 10px 15px;
        font-size: 15px;
    }

    .footer-links h3,
    .footer-address h3,
    .footer-social-link h3 {
        font-size: 18px;
    }

    .footer-links .links,
    .footer-social-link .address {
        font-size: 16px;


    }
}